{% extends "base.html" %}
{% block info %}
<div align="center">
    <div class="card">
        <img src="{{url_for('static', filename=src_img)}}" class="card-img-top" alt="Image not found">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{text}}</p>
            <p class="count_of_words"> Count of words in text: {{text | wordcount()}}</p>
            <a href={{wiki_url}} class="btn btn-primary">See more...</a>
        </div>
    </div>
</div>
{% endblock %}
